header {
  background-color: rgb(37, 29, 144);
}

main {
  margin: 0;
  .col {
    margin: 0 !important;
    padding: 0 !important;
  }
  .slider {
    background-color: rgb(37, 29, 144);
    p {
      color: white;
      padding: 10px;
    }
  }
}
